*{
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to left, rgba(109, 103, 103, 0), rgb(181, 232, 147)),#f0f0f0;
	animation: fadeIn 1s ease-in-out forwards;
	align-items: center;
}

@keyframes fadeIn {
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

.nav-logo{
	scale: 50%;
}

nav{
	margin: none;
	padding: 1.2rem 2rem;
	display: flex;
	justify-content: space-between;
	background-color: rgb(0, 0, 0, 0.8);
}

.nav-links{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3rem;
}
.nav-btn{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3rem;
}

.link a{
	position: relative;
	padding-bottom: 0.75rem;
	color: white;
}

.link a::after{
	content: "";
	position: absolute;
	height: 3px;
	width: 0;
	bottom: 0;
	left: 0;
	background-color: #34eb95;
	transition: all 0.3s ease;
}

.link a:hover::after{
	width: 70%;
}

.btn{
	height: 35px;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffff;
	background-color: #2d302f;
}

.btn:hover{
	outline: 0px solid #34eb95;
	height: 35px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	color: #34eb95;
	cursor: pointer;
	transition: all 0.3s ease;
}

.container{
	justify-content: center;
	display:flex;
}

.instr1{
	scale: 90%;
	font-size: 1.2rem;
}

.instr2{
	scale: 86%;
	font-size: 1.2rem;
}

.backgorund1{
	background-color: #373737;
	color: white;
	padding: 1rem;
	max-width: 59.3rem;
	border-radius: 0px 0px 10px 10px;
}

.backgorund2{
	background-color: #373737;
	color: white;
	padding: 1rem;
	max-width: 62.7rem;
	border-radius: 0px 0px 10px 10px;
}

.type2{
	border-radius: 10px 10px 0px 0px;
}
